@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box; }

body {
  font-family: 'Cinzel', serif;
  padding-bottom: 0.3em;
  position: relative;
  background-image: url(../images/back.jpeg);
  background-repeat: no-repeat;
  background-size: cover; }

main {
  height: 100vh; }

header {
  background-color: rgba(247, 210, 210, 0.938);
  width: 100%;
  height: 70px;
  top: 0;
  text-align: center;
  position: fixed;
  z-index: 1; }
  header nav ul {
    display: flex;
    justify-content: space-evenly;
    font-size: 1.2rem;
    align-items: center; }
    header nav ul li {
      display: flex;
      justify-content: center; }
      header nav ul li a {
        color: white;
        text-decoration: none; }
        header nav ul li a:hover {
          color: rgba(247, 210, 210, 0.938); }

.logo {
  width: 180px;
  height: 150px;
  margin-top: -70px; }
  .logo:hover {
    transform: scale(1.1); }

.title {
  margin-top: 145px;
  margin-bottom: 5%; }

h1 {
  height: 150px;
  width: 100%;
  text-align: center;
  line-height: 150px;
  color: rgba(247, 210, 210, 0.938);
  text-shadow: 2px 4px #8888;
  background-color: #292b30; }

h2 {
  height: 60px;
  margin-left: 0px;
  word-spacing: 205px;
  line-height: 60px; }

h3 {
  margin-bottom: 15px;
  margin-top: 15px;
  color: #bb4c5f; }

h4 {
  margin: 10px;
  color: #bb4c5f; }

h5 {
  font-family: 'Satisfy', cursive;
  color: #bb4c5f; }

footer {
  background-color: rgba(247, 210, 210, 0.938);
  text-align: center;
  bottom: 0;
  position: fixed;
  width: 100%; }
  footer p {
    margin-top: 28px;
    margin-left: 2%;
    height: 30px; }

.p-change::before {
  content: "Derechos reservados";
  animation: changingTxt 7s linear infinite; }

@keyframes changingTxt {
  0% {
    content: "Made with ❤ by Samytaglia"; }
  100% {
    content: "All rights reserved"; } }

.animated-footer {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='50' preserveAspectRatio='none' viewBox='0 0 1440 50'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1251%26quot%3b)' fill='none'%3e%3crect width='1440' height='50' x='0' y='0' fill='url(%23SvgjsLinearGradient1252)'%3e%3c/rect%3e%3cpath d='M641.308%2c13.865C644.124%2c14.064%2c646.947%2c12.641%2c648.283%2c10.154C649.562%2c7.773%2c648.631%2c5.019%2c647.331%2c2.649C645.963%2c0.156%2c644.15%2c-2.457%2c641.308%2c-2.557C638.345%2c-2.661%2c635.748%2c-0.493%2c634.507%2c2.2C633.43%2c4.537%2c634.561%2c7.05%2c635.857%2c9.273C637.139%2c11.472%2c638.768%2c13.685%2c641.308%2c13.865' fill='rgba(222%2c 173%2c 173%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M977.54 35.83 a13.56 13.56 0 1 0 27.12 0 a13.56 13.56 0 1 0 -27.12 0z' fill='rgba(222%2c 173%2c 173%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1342.6599555848609 43.40430118387271L1351.7448693693864 42.288814033998996 1350.6293822195128 33.203900249473406 1341.5444684349873 34.31938739934713z' fill='rgba(222%2c 173%2c 173%2c 1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M127.1059794012038 53.94838040621053L131.47459625106487 43.13567427350651 120.66189011836083 38.76705742364545 116.29327326849977 49.57976355634947z' fill='rgba(222%2c 173%2c 173%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1336.1993504186007 39.066852113135404L1329.790490732225 29.914051926548098 1320.6376905456377 36.322911612923775 1327.0465502320135 45.475711799511075z' fill='rgba(222%2c 173%2c 173%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M206.58%2c41.544C211.016%2c41.505%2c215.938%2c40.89%2c218.153%2c37.047C220.366%2c33.207%2c218.69%2c28.48%2c216.236%2c24.79C214.071%2c21.535%2c210.489%2c19.599%2c206.58%2c19.646C202.754%2c19.692%2c199.463%2c21.85%2c197.317%2c25.017C194.807%2c28.722%2c192.461%2c33.35%2c194.649%2c37.254C196.864%2c41.206%2c202.05%2c41.584%2c206.58%2c41.544' fill='rgba(222%2c 173%2c 173%2c 1)' class='triangle-float2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1251'%3e%3crect width='1440' height='50' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='24.13%25' y1='795%25' x2='75.87%25' y2='-695%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1252'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(17%2c 18%2c 20%2c 1)' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(57%2c 59%2c 61%2c 1)' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(57%2c 59%2c 61%2c 1)' offset='0.21'%3e%3c/stop%3e%3c/linearGradient%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
  height: 55px;
  margin-bottom: -20px; }

.index-back {
  background-image: url(../images/index.png);
  background-repeat: repeat;
  background-size: contain; }

.index-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; }
  .index-container h1 {
    margin-top: 15%;
    margin-left: 25%;
    font-family: 'Satisfy', cursive;
    font-size: 5rem;
    text-align: center;
    width: 300px;
    position: absolute;
    color: #38393a;
    background-color: transparent;
    line-height: 100px; }
  .index-container .carousel-container button {
    margin-left: 63%;
    margin-top: 7%; }
  .index-container .carousel-item {
    width: 50%;
    height: 700px;
    margin-top: 8%;
    margin-left: 51%; }
    .index-container .carousel-item img {
      margin-left: 13.5%;
      margin-top: 0%;
      width: 642px;
      border: solid 2px rgba(247, 210, 210, 0.938);
      position: fixed; }

.about-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  flex-wrap: wrap;
  margin-top: 150px;
  align-items: center; }

.historia {
  margin: 10px 0;
  font-size: 1.2rem;
  text-align: center;
  width: 500px;
  color: #38393a;
  text-shadow: 1px 1px 0 #8888;
  margin-bottom: 10%; }
  .historia .historia-title {
    margin: auto;
    display: table; }
    .historia .historia-title h3 {
      position: relative;
      float: left;
      width: 115%; }
      .historia .historia-title h3 span {
        position: absolute;
        right: 0;
        width: 0;
        background-image: url(../images/back.jpeg);
        background-position: center;
        border-left: 1px solid #000;
        animation: write 3s steps(30); }

@keyframes write {
  from {
    width: 100%; }
  to {
    width: 0; } }
  .historia p {
    margin: 10px; }

.accordion {
  margin-top: 5%;
  margin-left: 15%;
  width: 70%;
  text-align: center;
  font-size: 1.2rem; }
  .accordion .accordion-item {
    background-color: transparent; }
  .accordion .accordion-button {
    background-color: rgba(245, 180, 180, 0.884);
    border: 2px solid rgba(247, 210, 210, 0.938);
    height: 60px;
    text-align: center; }
    .accordion .accordion-button:hover {
      color: #bb4c5f;
      font-weight: bold; }
    .accordion .accordion-button:focus {
      border: 2px solid #bb4c5f;
      box-shadow: 0 0 1px rgba(0, 0, 0, 0.1); }

.gallery-main {
  height: auto; }
  .gallery-main .gallery-container {
    margin-bottom: 105px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly; }
    .gallery-main .gallery-container .title {
      margin-left: 630px;
      width: 1000px; }
      .gallery-main .gallery-container .title h1 {
        margin-left: -620px; }
  .gallery-main .picture-frame {
    background-image: url(../images/fotos.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 820px;
    height: 463px;
    margin-bottom: 40px;
    box-shadow: 20px 20px 60px #98747a, -20px -20px 60px #ce9ea4;
    border-radius: 8px; }
    .gallery-main .picture-frame .pic img {
      width: 491px;
      height: 307px;
      margin-top: 78px;
      margin-left: 165px;
      transition: all 0.8s ease; }
      .gallery-main .picture-frame .pic img:hover {
        transition: all 0.6s ease;
        filter: brightness(50%); }
    .gallery-main .picture-frame .btn-container {
      margin-top: -23%;
      position: relative;
      display: flex;
      justify-content: center; }
      .gallery-main .picture-frame .btn-container .btnPic {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 2rem;
        width: 2rem;
        height: 1rem;
        border: none;
        text-decoration: none;
        padding: 0;
        color: white;
        background-color: transparent;
        opacity: 0.4; }
        .gallery-main .picture-frame .btn-container .btnPic:hover {
          font-style: normal;
          font-weight: 400;
          font-size: 1.75rem;
          line-height: 2.5rem;
          color: #FDB0FF;
          text-shadow: 0px 3px 15px #FB4EFF;
          opacity: 1; }

.contact-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: min-content min-content;
  justify-items: center;
  grid-template-areas: "title title" "social form"; }
  .contact-container .title {
    grid-area: title;
    width: 100%;
    margin-top: 0%; }
  .contact-container .contact-form {
    grid-area: form;
    background-color: white;
    padding: 20px 40px;
    border-radius: 8px;
    width: 75%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 10%;
    margin-bottom: 20%; }
    .contact-container .contact-form .form-control {
      position: relative;
      margin: 20px 0 0;
      width: 110%;
      border: 0; }
      .contact-container .contact-form .form-control input {
        background-color: transparent;
        border: 0;
        border-bottom: 2px solid rgba(247, 210, 210, 0.938);
        width: 98%;
        padding: 15px 0 10px 0;
        font-size: 18px;
        color: #38393a; }
        .contact-container .contact-form .form-control input:focus, .contact-container .contact-form .form-control input:valid {
          outline: 0;
          border-bottom-color: #f1619d; }
          .contact-container .contact-form .form-control input:focus:focus + label span,
          .contact-container .contact-form .form-control input:focus:valid + label span, .contact-container .contact-form .form-control input:valid:focus + label span,
          .contact-container .contact-form .form-control input:valid:valid + label span {
            color: #f1619d;
            transform: translateY(-30px); }
      .contact-container .contact-form .form-control label {
        position: absolute;
        top: 15px;
        left: 15px;
        color: rgba(245, 180, 180, 0.884); }
        .contact-container .contact-form .form-control label span {
          display: inline-block;
          font-size: 18px;
          min-width: 5px;
          transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
    .contact-container .contact-form #btn {
      display: inline-block;
      width: 300%;
      cursor: pointer;
      background-color: rgba(245, 180, 180, 0.884);
      padding: 15px;
      font-size: 16px;
      border: 2px solid black;
      border-radius: 8px;
      font-weight: bold;
      margin-top: 25%;
      margin-bottom: -15%;
      text-align: center;
      margin-left: 230%;
      text-decoration: none;
      text-align: center;
      color: black; }
      .contact-container .contact-form #btn:hover {
        background-color: #38393a;
        color: rgba(245, 180, 180, 0.884);
        border: 2px solid rgba(245, 180, 180, 0.884); }
      .contact-container .contact-form #btn:focus {
        outline: 0; }
      .contact-container .contact-form #btn:active {
        transform: scale(0.98); }
  .contact-container .social {
    grid-area: social;
    background-color: white;
    width: 315px;
    border-radius: 8px;
    margin-left: 60%;
    margin-bottom: 20%; }
    .contact-container .social p {
      margin-top: 30px;
      margin-left: 20px;
      margin-bottom: -20px;
      width: 270px;
      text-align: center;
      font-weight: bold;
      font-size: large;
      color: #f1619d; }
    .contact-container .social .classic-contact {
      margin-top: 50px;
      margin-left: 70px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap; }
      .contact-container .social .classic-contact img {
        width: 40px;
        margin: 5px;
        margin-top: 0px; }
      .contact-container .social .classic-contact a {
        color: #f1619d;
        text-decoration: none;
        display: flex;
        flex-direction: row;
        margin-top: 10px; }
    .contact-container .social .net-contact {
      margin-top: 25px;
      display: flex;
      flex-direction: row;
      justify-content: center; }
      .contact-container .social .net-contact img {
        width: 55px;
        height: 55px; }
    .contact-container .social img:hover {
      opacity: 0.7; }

.error-back {
  background-image: url(../images/ladrillos.jpeg); }
  .error-back .error-container {
    background-color: rgba(0, 0, 0, 0.23); }
    .error-back .error-container h1 {
      position: fixed;
      margin-top: 25%;
      margin-left: 40%;
      font-weight: 400;
      text-align: center;
      animation-name: parpadeo;
      animation-duration: 4s;
      animation-timing-function: linear;
      animation-iteration-count: infinite; }

@-moz-keyframes parpadeo {
  0% {
    opacity: 1.0; }
  50% {
    opacity: 0.0; }
  100% {
    opacity: 1.0; } }

@-webkit-keyframes parpadeo {
  0% {
    opacity: 1.0; }
  50% {
    opacity: 0.0; }
  100% {
    opacity: 1.0; } }

@keyframes parpadeo {
  0% {
    opacity: 1.0; }
  50% {
    opacity: 0.0; }
  100% {
    opacity: 1.0; } }
    .error-back .error-container p {
      position: fixed;
      margin-top: 30%;
      margin-left: 37.5%;
      font-size: 1.2rem; }
      .error-back .error-container p a {
        color: #a1d2ee;
        text-decoration: none; }
    .error-back .error-container .neon {
      color: #fff;
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #ee2cb4, 0 0 80px #ee2cb4, 0 0 90px #ee2cb4, 0 0 100px #ee2cb4, 0 0 150px #ee2cb4; }

.navbar {
  height: 85px;
  margin-top: 3.5%;
  width: 100%;
  background-color: black; }
  .navbar .mobile-navbar {
    background-color: transparent; }
  .navbar .nav-item {
    margin: 15%; }
    .navbar .nav-item .nav-link {
      color: white;
      background-color: transparent; }
      .navbar .nav-item .nav-link:hover {
        color: rgba(247, 210, 210, 0.938); }
      .navbar .nav-item .nav-link .logo {
        margin-top: -40%;
        margin-left: 7%; }

.navbar-toggler {
  color: rgba(245, 180, 180, 0.884);
  background-color: rgba(247, 210, 210, 0.938); }

/*MOBILE*/
@media screen and (min-width: 320px) and (max-width: 479px) {
  body {
    height: auto;
    overflow-x: hidden;
    background-repeat: repeat; }
  header {
    margin-top: 0px;
    z-index: 2; }
    header .navbar .mobile-navbar {
      background-color: #38393a;
      margin-top: 2%; }
      header .navbar .mobile-navbar ul {
        font-size: 1rem; }
        header .navbar .mobile-navbar ul li {
          margin: 8%; }
  .logo {
    width: 94px;
    height: 78px;
    margin-bottom: -25px; }
  h1 {
    margin-top: -18%;
    font-size: 1.5rem;
    color: rgba(245, 180, 180, 0.884); }
  h2 {
    height: 60px;
    width: 300px;
    margin-left: 12px;
    line-height: 60px;
    font-size: 1.5rem; }
  footer {
    width: 100%;
    position: fixed;
    z-index: 2; }
  .index-container h1 {
    margin-top: 40%;
    margin-left: 13%;
    font-size: 2.8rem;
    line-height: 60px;
    width: 75%; }
  .index-container button {
    visibility: hidden; }
  .index-container .carousel-item {
    margin-top: 90%;
    margin-left: -9%; }
    .index-container .carousel-item img {
      width: 300px;
      position: relative;
      margin-top: 20%;
      margin-left: 37%;
      margin-bottom: 5%; }
  .historia {
    margin-top: -25px;
    margin-bottom: 100px;
    width: 280px;
    display: inline-block; }
  .title {
    margin-top: 45%; }
  .servicios {
    margin-top: 10%;
    margin-left: -35px; }
    .servicios .accordion {
      width: 80%; }
      .servicios .accordion .accordion-body {
        margin-bottom: 10%; }
  .gallery-container {
    overflow-x: hidden;
    margin-top: 10%;
    margin-bottom: 75px; }
    .gallery-container .picture-frame {
      width: 300px;
      height: 157px; }
      .gallery-container .picture-frame .pic img {
        width: 180px;
        height: 113px;
        margin-top: 28px;
        margin-left: 60px; }
  .contact-container {
    background-image: url(../images/back.jpeg);
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: min-content;
    grid-template-areas: "title" "social" "form"; }
    .contact-container .title {
      margin-bottom: 8%; }
    .contact-container .contact-form {
      grid-area: form;
      margin-left: 30px;
      margin-bottom: 150px;
      width: 290px; }
      .contact-container .contact-form #btn {
        margin-left: -6px; }
    .contact-container .social {
      grid-area: social;
      width: 290px;
      margin-left: 2px;
      margin-bottom: 50px; }
      .contact-container .social p {
        margin-bottom: 0px; }
      .contact-container .social .classic-contact img {
        width: 30px; }
      .contact-container .social .net-contact {
        margin-top: 20px; }
        .contact-container .social .net-contact img {
          width: 40px;
          height: 40px; }
          .contact-container .social .net-contact img:hover {
            width: 45px;
            height: 45px; } }

/*TABLET*/
@media screen and (max-width: 1023px) {
  header {
    z-index: 2; }
    header .navbar .mobile-navbar {
      background-color: #38393a;
      margin-top: 2%; }
      header .navbar .mobile-navbar li {
        margin: 8%; }
  .logo {
    margin-bottom: -50px; }
  .index-container h1 {
    margin-top: 20%;
    margin-left: 13%;
    width: 75%; }
  .index-container button {
    visibility: hidden; }
  .index-container .carousel-item {
    margin-top: 90%;
    margin-left: -9%; }
    .index-container .carousel-item img {
      width: 700px;
      position: relative;
      margin-top: -75%;
      margin-left: 27%; }
  footer {
    width: 100%;
    position: fixed;
    z-index: 2; }
  .about-container h1 {
    margin-top: -5%; }
  .title {
    margin-top: 14%; }
  .contact-container .title h1 {
    margin-top: -5%; }
  .gallery-container {
    margin-top: 10%;
    margin-bottom: 75px; }
    .gallery-container .picture-frame {
      width: 720px;
      height: 363px; }
      .gallery-container .picture-frame .pic img {
        width: 430px;
        height: 270px;
        margin-top: 70px;
        margin-left: 145px; }
  .contact-container {
    background-image: url(../images/back.jpeg);
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: min-content;
    grid-template-areas: "title" "social" "form"; }
    .contact-container .title {
      margin-bottom: 8%; }
    .contact-container .contact-form {
      grid-area: form;
      margin-left: 70px;
      margin-bottom: 150px;
      width: 650px; }
      .contact-container .contact-form #btn {
        margin-left: 65px; }
    .contact-container .social {
      grid-area: social;
      width: 400px;
      margin-left: 2px;
      margin-bottom: 50px; }
      .contact-container .social p {
        margin-left: 70px; }
      .contact-container .social .classic-contact {
        margin-left: 120px; } }

/*LAPTOP*/
/* @media screen and (min-width: 949px) and (max-width: 1000px) {
    .index-container{
        .carousel-item{
            img{
                margin-top: 2.5%;
            }
        }
    }

    .about-container{
        h1{
            margin-top: -2%;
        }
    }

    .title{
        margin-top: 10%;
    }

    .contact-container{
        .title{
            h1{
                margin-top: -2%;
            }
        }
        .contact-form{
            #btn{
                margin-left: 100%;
            }
    }
    }
} */
