.error-back{
    background-image: url(../images/ladrillos.jpeg);
    .error-container{
        background-color: rgba(0, 0, 0, 0.23);
        h1{
            position: fixed;
            margin-top: 25%;
            margin-left: 40%;
            font-weight: 400;
            text-align: center;
            animation-name: parpadeo;
            animation-duration: 4s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
            @-moz-keyframes parpadeo{  
            0% { opacity: 1.0; }
            50% { opacity: 0.0; }
            100% { opacity: 1.0; }
            }
    
            @-webkit-keyframes parpadeo {  
            0% { opacity: 1.0; }
            50% { opacity: 0.0; }
            100% { opacity: 1.0; }
            }
    
            @keyframes parpadeo {  
            0% { opacity: 1.0; }
            50% { opacity: 0.0; }
            100% { opacity: 1.0; }
            } 
            }   
        p {
            position: fixed;
            margin-top: 30%;
            margin-left: 37.5%;
            font-size: 1.2rem;
            a{
                color: rgb(161, 210, 238);
                text-decoration: none;
            }
        }
        .neon {
            color: #fff;
            text-shadow:
                0 0 5px #fff,
                0 0 10px #fff,
                0 0 20px #fff,
                0 0 40px $fucsia,
                0 0 80px $fucsia,
                0 0 90px $fucsia,
                0 0 100px $fucsia,
                0 0 150px $fucsia,
        } 
    }
    
}
.navbar{    
    height: 85px;
    margin-top: 3.5%;
    width: 100%;
    background-color: black;
    .mobile-navbar{
        background-color: transparent;
        }
    .nav-item{
        margin: 15%;
        .nav-link{
            color: white;
            background-color: transparent;
            &:hover{
                color: $rosaClaro;
            }
            .logo{
                margin-top: -40%;
                margin-left: 7%;
                
            }
        }   
    }
}
.navbar-toggler{
    color: $rosaMedio;
    background-color: $rosaClaro;
}

