.contact-container{
    //margin-top: 10px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: min-content min-content;
    justify-items: center;
    grid-template-areas:
    "title title"
    "social form";
    .title{
        grid-area: title;
        width: 100%;
        margin-top: 0%;
    }
    .contact-form{
        grid-area: form;
        background-color: white;
        padding: 20px 40px;
        border-radius: 8px;
        width: 75%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-right: 10%;
        margin-bottom: 20%;
        .form-control{
            position: relative;
            margin: 20px 0 0;
            width: 110%;
            border: 0;
            input{
                background-color: transparent;
                border: 0;
                border-bottom: 2px solid $rosaClaro;
                width: 98%;
                padding: 15px 0 10px 0;
                font-size: 18px;
                color:rgb(56, 57, 58);
                &:focus,
                &:valid{
                    outline: 0;
                    border-bottom-color: rgb(241, 97, 157);
                &:focus + label span,
                &:valid + label span{
                    color: rgb(241, 97, 157);
                    transform: translateY(-30px);
                }
                }
            }
            label{
                position: absolute;
                top: 15px;
                left: 15px;
                color: $rosaMedio;
                span{
                    display: inline-block;
                    font-size: 18px;
                    min-width: 5px;
                    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
                }
            }
        }  
        #btn{
            display: inline-block;
            width: 300%;
            cursor: pointer;
            background-color: $rosaMedio;
            padding: 15px;
            font-size: 16px;
            border: 2px solid black;
            border-radius: 8px;
            font-weight: bold;
            margin-top: 25%;
            margin-bottom: -15%;
            text-align: center;
            margin-left: 230%;
            text-decoration: none;
            text-align: center;
            color: black;
            &:hover{
                background-color: rgb(56, 57, 58);
                color:  $rosaMedio;
                border: 2px solid $rosaMedio;
            }
            &:focus{
                outline: 0;
            }
            &:active{
                transform: scale(0.98);
            }
        }
    }
    .social{
        grid-area:social;
        background-color:white;
        width: 315px;
        border-radius: 8px;
        margin-left: 60%;
        margin-bottom: 20%;
        p{
            margin-top: 30px;
            margin-left: 20px;
            margin-bottom: -20px;
            width: 270px;
            text-align: center;
            font-weight: bold;
            font-size: large;
            color: rgb(241, 97, 157);
        }
        .classic-contact{
            margin-top: 50px;
            margin-left: 70px;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            img{
                width: 40px;
                margin: 5px;
                margin-top: 0px;
             }
            a{
                color: rgb(241, 97, 157);
                text-decoration: none;
                display: flex;
                flex-direction: row;
                margin-top: 10px;
            }
        }
        .net-contact{
            margin-top: 25px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            img{
                width: 55px;
                height: 55px;
            }
        }
        img:hover{
            opacity: 0.7;
        }
    }
}