.index-back{
    background-image: url(../images/index.png);
    background-repeat: repeat;
    background-size: contain;
} 

.index-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    h1{
        margin-top: 14%;
        margin-left: 25%;
        font-family: 'Satisfy', cursive;
        font-size: 5rem;
        text-align: center;
        width: 300px;
        position: absolute;
        color:  rgb(56, 57, 58);
    }
    .carousel-container button{
        margin-left: 63%;
        margin-top: 7%;
    }
    .carousel-item{
        width: 50%;
        height: 700px;
        margin-top: 8%;
        margin-left: 49.5%;
        img{
            margin-left: 32%;
            margin-top: 0%;
            width: 700px;
            border: solid 2px $rosaClaro;
        } 
    }
}


