@media screen and (min-width: 320px) and (max-width: 479px){
    body{
        height: auto;
        overflow-x: hidden;
    }
    header{
        margin-top: 0px;
        position: fixed;
        z-index: 2;
        height: 65px;
        nav{
            background-color: rgb(56, 57, 58);
            ul{
                display: flex;
                justify-content:flex-start;
                li{
                    display: flex;
                    margin: 5px;
                    a{
                        background-color: rgb(56, 57, 58);
                        font-size: 0.7rem;
                        &:hover{
                            color:$rosaMedio;
                        }
                    }
                }
            }
        }
    }
    .mq-title{
        margin-left: 12%;
    }

    .logo{
        width: 94px;
        height: 78px;
        margin-top: -65px;
    }
    
    h1{
        margin-top: 40%;
        margin-left: 2%;
        font-size: 1.9rem;
        color:  $rosaMedio;
        text-shadow: 2px 3px #8888;
    }
    
    h2{
        font-family: 'Aboreto', cursive;
        height: 60px;
        width: 300px;
        margin-left: 12px;
        word-spacing: 80px;
        line-height: 60px;
        font-size: 1.5rem;
    }
    
    .title{
        height: 115px;
        margin-left: -60px;
        margin-top: -20px;
    }
 
     footer{
        width: 100%;
        position: fixed;
        z-index: 2;
    }
    
    .index-container{
        h1{
            margin-top: 30%;
            margin-left: 5.5%;
            font-size: 3rem;
        }
        .carousel-item{
            margin-top: 90%;
            margin-left: -9%;
            img{
                width: 300px;
            }
        }
    }
    
    .about-container .title{
        margin-top: -35px;
        margin-left: -15px;
        h1{
            margin-top: -80px;
        }
    }
    
    .historia{
        margin-top: -25px;
        margin-bottom: 100px;
        width: 280px;
        display: inline-block;
    }
    
    .service-title{
        img{
            margin-top: 25%;
            margin-left: 15%;
            width: 70%;
        }
        h1{
            font-size: 1.7rem;
            margin-top: -17%;
        }
    }
    
    .accordion{
        margin-left: 3%;
        margin-top: 7%;
    }
    .gallery-main{
        height: auto;
    .gallery-container{
        overflow-x: hidden;
        margin-top: 90px;
        margin-bottom: 75px;
        .title{
            margin-bottom: 40px;
            img{
                margin-left: -475px;
                margin-top: 10px;
            }
            h1{
                margin-top: -80px;
                margin-left: -640px;
            }
        }
        .picture-frame{
            width: 300px;
            height: 157px;
            .pic img{
                width: 180px;
                height: 113px;  
                margin-top: 28px;
                margin-left: 60px;
            }  
        }
    }
}
    .contact-container{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: min-content;
        grid-template-areas:
        "title"
        "social"
        "form";  
        .title{
            margin-left: -15px;
            margin-top: -20px;
        }
        .contact-form{
            grid-area: form;
            margin-left: 30px;
            margin-bottom: 100px;
            width: 290px;
            .card{
                margin-left: 4%;
                text-align: center;
            }
            .btn{
                margin-left: -5px;
            }
        }
        .social{
            grid-area:social;
            width: 290px;
            margin-left: 2px;
            margin-bottom: 50px;
            p{
            margin-bottom: 0px;
        }
        .classic-contact img{
            width: 30px;
         }
         .net-contact{
            margin-top: 20px;
            img{
                width: 40px;
                height: 40px;
                &:hover{
                    width: 45px;
                    height: 45px;
                }
            }
        }
        }
    }    
    }
    