/*MOBILE*/
@media screen and (min-width: 320px)and (max-width: 599px){
    body{
        height: auto;
        overflow-x: hidden;
        background-repeat: repeat;
    }

    header{
        margin-top: 0px;
        z-index: 2;
        .navbar{
            .mobile-navbar{
                background-color:  rgb(56, 57, 58);
                margin-top: 2%;
                ul{
                    font-size: 1rem;
                    li{
                        margin: 8%;
                    }
                }
            }
        }
    }

    .logo{
        width: 94px;
        height: 78px;
        margin-bottom: -25px;
    }
    
    h1{
        margin-top: -18%;
        font-size: 1.5rem;
        color:  $rosaMedio;
    }
    
    h2{
        height: 60px;
        width: 300px;
        margin-left: 12px;
        line-height: 60px;
        font-size: 1.5rem;
    }

     footer{
        width: 100%;
        position: fixed;
        z-index: 2;
    }
   
    .index-container{
        h1{
            margin-top: 40%;
            margin-left: 13%;
            font-size: 2.8rem;
            line-height: 60px;
            width: 75%;
        }
        button{
          visibility: hidden;
        }
        .carousel-item{
            margin-top: 90%;
            margin-left: -9%;
            img{
                width: 300px;
                position: relative;
                margin-top: 20%;
                margin-left: 14%;
                margin-bottom: 5%;
            }
        }
    }
    
    .about-container{
        h1{
            margin-top: -17%;
        }
    }

    .historia{
        margin-top: -10px;
        margin-bottom: 110px;
        width: 280px;
        display: inline-block;
    }

    .title{
        margin-top: 45%;
    }
    
    .servicios{
        margin-top: 10%;
        margin-left: -55px;
        .accordion{
            width: 80%;
            .accordion-body{
                margin-bottom: 30%;
            }
        }
    }

    .gallery-container{
        overflow-x: hidden;
        margin-top: 10%;
        margin-bottom: 75px;
        .picture-frame{
            width: 300px;
            height: 157px;
            .pic img{
                width: 180px;
                height: 113px;  
                margin-top: 28px;
                margin-left: 60px;
            }  
        }
    }

    .contact-container{
        background-image: url(../images/back.jpeg);
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: min-content;
        grid-template-areas:
        "title"
        "social"
        "form";  
        .title{
            margin-top: 153px;
            margin-bottom: 8%;
        }
        .contact-form{
            grid-area: form;
            margin-left: 30px;
            margin-bottom: 150px;
            width: 290px;
            #btn{
                margin-left: -6px;
            }
        }
        .social{
            grid-area:social;
            width: 290px;
            margin-left: 2px;
            margin-bottom: 50px;
            p{
            margin-bottom: 0px;
            }
            .classic-contact img{
            width: 30px;
            }
            .net-contact{
                margin-top: 20px;
                img{
                    width: 40px;
                    height: 40px;
                    &:hover{
                    width: 45px;
                    height: 45px;
                    }
                }
            }
        }
    }    
    .error-back{
    .error-container{
        p{
            margin-top: 120%;
            margin-left: 10%;
            width: 300px;
        }
    }
    }
}

/*TABLET*/
@media screen and (min-width: 768px) and (max-width: 1023px){
    header{
        z-index: 2;
        .navbar{
            .mobile-navbar{
                background-color:  rgb(56, 57, 58);
                margin-top: 2%;
                    li{
                        margin: 8%;
                    }
                }
            }
        }

    .logo{
        margin-bottom: -50px;
    }

    .index-container{
        h1{
            margin-top: 20%;
            margin-left: 13%;
            width: 75%;
        }
        button{
          visibility: hidden;
        }
        .carousel-item{
            margin-top: 90%;
            margin-left: -9%;
            img{
                width: 700px;
                position: relative;
                margin-top: -35%;
                margin-left: 13.5%;
            }
        }
    }

    footer{
        width: 100%;
        position: fixed;
        z-index: 2;
    }

    .about-container{
        h1{
            margin-top: -5%;
        }
    }

    .title{
        margin-top: 14%;
    }

    .servicios{
        margin-top: 15%;
    }

    .contact-container{
        .title{
            h1{
                margin-top: 14%;
            }
        }
    }

    .gallery-container{
        margin-top: 10%;
        margin-bottom: 75px;
        .picture-frame{
            width: 720px;
            height: 363px;
            .pic img{
                width: 430px;
                height: 270px;  
                margin-top: 70px;
                margin-left: 145px;
            }  
        }
    }

    .contact-container{
        background-image: url(../images/back.jpeg);
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: min-content;
        grid-template-areas:
        "title"
        "social"
        "form";  
        .title{
            margin-bottom: 8%;
        }
        .contact-form{
            grid-area: form;
            margin-left: 70px;
            margin-bottom: 150px;
            width: 650px;
            #btn{
                margin-left: 65px;
            }
        }
        .social{
            grid-area:social;
            width: 400px;
            margin-left: 2px;
            margin-bottom: 50px;
            p{
            margin-left: 70px;
            }
            .classic-contact{
            margin-left: 120px;
            }
        }
    } 

    .error-back{
        .error-container{
            p{
                margin-top: 40%;
                margin-left: 16%;
            }
        }
        }    
}

/*LAPTOPS*/
@media screen and (min-width: 1024px) and (max-width: 1399px){
    header{
        height: 50px;
        z-index: 2;
        position: fixed;
        .navbar{
            position: fixed;
            .mobile-navbar{
                margin-top: 0%;
                ul{
                    font-size: 1rem;
                }
            }
        }
    }

    .logo{
        width: 94px;
        height: 78px;
        margin-bottom: -25px;
    }
    
    h1{
        font-size: 2rem;
        height: 120px;
        margin-top: -2%;
    }

    footer{
        position: fixed;
        z-index: 2;
        p{
            margin-top: 28px;
            margin-left: 2%;
            height: 25px;
        }  
}

.animated-footer{
    height: 35px;
}

.index-container{
    h1{
        margin-top: 13%;
        font-size: 3.5rem;
    }
    .carousel-item{
        position: absolute;
        height: 370px;
        margin-left: 52%;
        img{
            margin-left:10%;
            margin-top: 5%;
            width: 368px;
        }
    }
}

.about-container{
    h1{
        margin-top: -4%;
    }
}

.historia{
    .historia-title{
        margin-left: 85px;
                }                
            }

    .servicios{
        height: 100%;
        .accordion{
            z-index: -1;
        }
    }

 /*PANTALLA GRANDE*/
 @media screen and (min-width: 1400px){
    .index-container{
        .carousel-container button{
            margin-left: 61%;
            margin-top: 30%;
        }
        .carousel-item{
            img{
            margin-left: 1%;
            margin-top: 2%;
            width: 623px;
            }
        }
    }

    .about-container{
        h1{
        margin-top: 0%;
        }
    }

    .contact-container{
        background-image: none;
        .title{
            margin-top: 8%;
        }
        .contact-form{
            margin-bottom: 20%;
            #btn{
                margin-left: 230%;
            }
        }
        .social{
            margin-bottom: 20%;
        }
    }  
    
    .error-back{
        .error-container{
            p{
                margin-left: 32%;
            }
        }
    }     
}
}