@media screen and (min-width: 320px) and (max-width: 479px){
    body{
        height: auto;
        overflow-x: hidden;
        background-repeat: repeat;
    }

    .navbar{
        .mobile-navbar{
            background-color:  rgb(56, 57, 58);
            margin-top: 2%;
            ul{
                font-size: 1rem;
        }
    }
    }
    
    .logo{
        width: 94px;
        height: 78px;
    }
    
    h1{
        margin-top: -18%;
        font-size: 1.5rem;
        color:  $rosaMedio;
    }
    
    h2{
        height: 60px;
        width: 300px;
        margin-left: 12px;
        line-height: 60px;
        font-size: 1.5rem;
    }

     footer{
        width: 100%;
        position: fixed;
        z-index: 2;
    }
   
    .index-container{
        h1{
            margin-top: 40%;
            margin-left: 13%;
            font-size: 2.8rem;
            line-height: 60px;
            width: 75%;
        }
        button{
          visibility: hidden;
        }
        .carousel-item{
            margin-top: 90%;
            margin-left: -9%;
            img{
                width: 300px;
                position: relative;
                margin-top: 20%;
                margin-left: 25%;
            }
        }
    }
    
    .about-container .title{
        margin-top: -35px;
        margin-left: -15px;
        h1{
            margin-top: -80px;
        }
    }
    
    .historia{
        margin-top: -25px;
        margin-bottom: 100px;
        width: 280px;
        display: inline-block;
    }
    .title{
        margin-top: 45%;
    }
    .servicios{
        margin-top: 10%;
        margin-left: -60px;
        .accordion{
            width: 80%;
            .accordion-body{
                margin-bottom: 10%;
            }
        }
    }

    .gallery-container{
        overflow-x: hidden;
        margin-top: 10%;
        margin-bottom: 75px;
        .picture-frame{
            width: 300px;
            height: 157px;
            .pic img{
                width: 180px;
                height: 113px;  
                margin-top: 28px;
                margin-left: 60px;
            }  
        }
    }
    .contact-container{
        background-image: url(../images/back.jpeg);
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: min-content;
        grid-template-areas:
        "title"
        "social"
        "form";  
        .title{
            margin-bottom: 8%;
        }
        .contact-form{
            grid-area: form;
            margin-left: 30px;
            margin-bottom: 150px;
            width: 290px;
            #btn{
                margin-left: -6px;
            }
        }
        .social{
            grid-area:social;
            width: 290px;
            margin-left: 2px;
            margin-bottom: 50px;
            p{
            margin-bottom: 0px;
        }
        .classic-contact img{
            width: 30px;
         }
         .net-contact{
            margin-top: 20px;
            img{
                width: 40px;
                height: 40px;
                &:hover{
                    width: 45px;
                    height: 45px;
                }
            }
        }
        }
    }    
}

