.service-container{
    margin-top: 150px;
    padding: 20px;
    display: grid;
    grid-template-columns: 20% 50% 30%;
    grid-template-rows: min-content min-content min-content;
    grid-template-areas: 
    ". title ."
    "service description description"
    "service description description";
    .title{
        grid-area: title; 
        height: 115px;
        width: 370px;
        margin-left: 377px;
        margin-top: 0px;
    }
}

.service{
    grid-area: service;
    margin-left: 10px;
    width: 250px;
    ul{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        li{
            width: 250px;
            height: 70px;
            background-image: url(../images/btn.png);
            background-size: contain;
            border-radius: 5px;
            margin: 2px;
            a{
                text-align: center;
                cursor: pointer;
                font-size: 1.1rem;
                font-weight: bold;
                text-decoration: none;
                line-height: 4.5rem;
                color: rgb(56, 57, 58);
                &:hover{
                    opacity: 0.5;
                    color: rgb(66, 50, 50);
                }
            }
        }
    }
}

#pelu {
    display: none;
    &:target {
        display: block;
        display: contents;
        text-align: center;
    }
}

#est-corp {
    display: none;
    &:target {
        display: block;
        display: contents;
        text-align: center;
    }
}

#est-fac {
    display: none;
    &:target {
        display: block;
        display: contents;
        text-align: center;
    }
}

#masaje {
    display: none;
    &:target {
        display: block;
        display: contents;
        text-align: center;
    }
}

#depilacion {
    display: none;
    &:target {
        display: block;
        display: contents;
        text-align: center;
    }
}

#cavitacion {
    display: none;
    &:target {
        display: block;
        display: contents;
        text-align: center;
    }
}

#uñas {
    display: none;
    &:target {
        display: block;
        display: contents;
        text-align: center;
    }
}

.description{
    grid-area: description;
    margin-left: 207px;
    width: 700px;
}
